.grid {
    width: 1000px;
    height: 500px;
    border: solid black 10px;
    display: block;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #ffffff;
}

.hide {
    margin: 0%;
    width: 1000px;
    height: 495px;
    border-bottom: solid red 5px;;
    
    display: block;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #ffffff;
}

.block {
    width: 100px;
    height: 25px;

    position: absolute;
    background: linear-gradient(-45deg, #7f7f7f, #000000, #000000, #000000);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.ball {
    height: 20px;
    width: 20px;  
    border-radius: 10px;
    position: absolute;
  
        background: linear-gradient(-45deg, #ff56cf, #000000, #000000, #000000);
        background-size: 400% 400%;
        animation: gradient 8s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


.paddle {
    width: 100px;
    height: 5px;
    background-color: white;
    border: solid black 10px;
    position: absolute;
}

.pattern {
    background-color: #ffffff;
    background-image:  linear-gradient(135deg, #fafafa 25%, transparent 25%), linear-gradient(225deg, #fafafa 25%, transparent 25%), linear-gradient(45deg, #fafafa 25%, transparent 25%), linear-gradient(315deg, #fafafa 25%, #ffffff 25%);
    background-position:  23px 0, 23px 0, 0 0, 0 0;
    background-size: 46px 46px;
    background-repeat: repeat;
}

.scoresheet {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

.pause {
    width: 1020px;
    height: 300px;
    position: absolute;
    background: rgba(255,255,255,0.5);
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    text-align: center;
    padding-top: 250px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bolder;
}

